.modal__form_img {
  background-color: transparent;
  padding: 0;
  box-shadow: none;
  border-radius: 0;
  display: flex;
  flex-direction: column;
}
@media (max-width: 320px) {
  .modal__form {
    min-width: 240px;
    height: 299px;
  }
}
