.button_submit {
  width: 358px;
  height: 50px;
  border-radius: 2px;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #FFFFFF;
  margin-top: 18px;
}
@media (max-width: 592px) {
  .button_submit {
    width: 238px;
    height: 46px;
    left: 41px;
    top: 374px;
    font-size: 14px;
    line-height: 17px;
    margin-top: 15px;
  }
}