.modal__edit {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-top: 54px;
}
@media (max-width: 592px) {
  .modal__edit {
    margin-top: 75px;
  }
}